<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098231761617-4pqvti0habbcmqatgdg897tb6mau2r3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098231761617-4pqvti0habbcmqatgdg897tb6mau2r3c</string>
	<key>API_KEY</key>
	<string>AIzaSyAmaOiYXZidSMBzVjGA7skinLGOKGl0kZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1098231761617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pictureflutter</string>
	<key>PROJECT_ID</key>
	<string>functionsteste-96ae0</string>
	<key>STORAGE_BUCKET</key>
	<string>functionsteste-96ae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098231761617:ios:c970d7356edee1e2d513f0</string>
</dict>
</plist>